<h1> Results Page </h1>

<% data["Search"].forEach(function(movie){ %>
	<li>
		<% var posterLink = movie["Poster"] %>
		<img src=" <%= posterLink %> ">
		<strong>
			<%= movie["Title"] %>
		</strong> - 
			<%= movie["Year"] %>
	</li>
<% }) %>

<a href="/">Search Again</a>